table, th, td {
  border: 1px solid black;
}
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
article {
  float: left;
  padding: 20px;
  width: 50%;
  background-color: #f1f1f1;
}  
.container{
      display:flex;
      align-content: space-between;
    }
